<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testList" parallel="classes" thread-count="5">
	<test name="Test">
		<classes>
			 <class name="test.StarbucksLogin" />    
			<!--  class name="test.test1" />  -->  
			<!--  class name="test.P2ELogin" /-->
		</classes>


	</test> <!-- Test -->
</suite> <!-- Suite -->
 