<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testList" parallel="classes" thread-count="5">
	<test name="Test">
		<classes>
			 <!--  class name="com.perfectomobile.test.StarbucksLogin"/ -->
			 <class name="com.perfectomobile.test.Yelp"/>     
			<!--  class name="com.perfectomobile.test.test1" />  -->  
			<!--  class name="com.perfectomobile.test.P2ELogin" /-->
		</classes>


	</test> <!-- Test -->
</suite> <!-- Suite -->
 